@charset "utf-8";
/* CSS Document */

body {
	font-family: "Raleway", sans-serif;
	margin: 0;
	font-size: 12px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.wrapper{
	background-color: #ffffff;
	margin: auto;
}
.header {
	background-image: url("images/masthead.jpg");
	background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}
.wrap {
	width: 1170px;
	margin: 0 auto;
}
.head{
	padding: 40px 0px;
	border-bottom: solid 1px #4a4c63;
}
.fixed {
    position: fixed!important;
    top: 0;
    z-index: 999;
    background: #2a2e48;
    transition: 1s;
    width: 100%;
    left: 0;
    padding: 30px 0px;
}
.fixed .logo {
    padding-left: 200px;
}
.fixed .topnav {
    margin-right: 200px;
}
.logo img{
	float: left;
}
.head ul{
	float: right;
	margin: 0px;
	list-style-type: none;
}
.head li{
	float: left;
	margin-top: 3px;
}
.head li a{
	color: #ccccd3;
	font-size: 13px;
	font-weight: 700;
	text-decoration: none;
	padding-left: 43.5px;
}
/*.head li a.active{
	color: #e84545;
}
.head li a:hover:not(.active){
	color: #e84545;
}*/
.banner{
	padding-top: 113px;
}
.banner .content {
    margin: 0;
}
.content{
	text-align: center;
}
h1{
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 65px;
	font-weight:700;
	margin: 32px 0px 10px 0px;
	line-height: 1.1;
}
.content p{
	font-size: 22px;
	font-weight: 300;
	color: #ffffff;
	line-height: 1.5;
	margin: 0px 0px 80px 0px;
}
.btn-large {
    padding: 15px 40px;
}
.btn {
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
	text-decoration: none;
	line-height: 1.42857143;
}
.btn:hover, .btn:focus {
    background-color: #e52e2e;
    color: #fff;
}
a:hover, a:focus {
    transition: background-color, color, 0.3s;
}
.features{
	padding: 100px 0px;
}
.features-con{
	display: grid;
	grid-template-columns: auto auto auto;
}
.features-box{
	text-align: center;
	padding: 0% 8% 11.7% 8%;
	font-size: 14px;
	width: 329px;
}
.features-box:nth-child(2){
	padding: 0% 8.5% 11.7% 8%;
}
.features-box:nth-child(5){
	padding: 0% 8.5% 11.7% 8%;
}
.features-box h4{
	color: #2d3033;
	font-weight: 700;
	margin: 27px 0px 10px 0px;
}
.features-box p{
	color: #6c7279;
	line-height: 1.58;
	margin-top: 10px;
}
.work-img{
	width: 25%;
	float: left;
	background-color: #d3403f;
	position: relative;
}
.work-img:hover .work-text{
	display:block;
}
.work-img img{
	display: block;
	width: 100%;
	height: 350px;
	overflow: hidden;
}
.work-img img:hover{
	opacity: 0.2;
}
.ovr-hdn{
	overflow: hidden;
	position: relative;
}
.work-text{
	position: absolute;
    z-index: 222;
    background-color: #d3403f;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 5100vh 0;
    display: none;
	opacity: 0.9;
	color: #ffffff;
}
.work-text h4{
	font-size: 14px;
	font-weight: 500;
	margin: 5px 0px;
}
.work-text p{
	font-size: 12px;
	margin: 5px 0px;
}
.team{
	padding: 100px 0px;
}
.list-team{
	display: grid;
	grid-template-columns: auto auto auto auto;
}
.box-team{
	text-align: center;
}
.box-team h2{
	font-size: 22px;
    color: #2d3033;
	font-weight: 400;
	text-align: left;
	padding-left: 15px;
	margin: 16px 0px 8px 0px;
}
.box-team h4{
	font-size: 13px;
	font-weight: 400;
	color: #e84545;
	text-align: left;
	padding-left: 15px;
	margin: 8px 0px 20px 0px;
}
.box-team p{
	font-size: 14px;
	line-height: 1.6;
	text-align: left;
	padding: 0px 15px;
	font-weight: 400;
	color: #6c7279;
	margin-bottom: 10px
}
.box-team ul{
	list-style-type: none;
	padding-left: 15px;
}
.box-team li{
	float: left;
	border: solid 1px #e8ecee;
	margin: 2px 2px 2px 2px;
}
.box-team li:first-child{
	margin: 2px 2px 2px 0px;
}
.fb{
	padding: 9px 15px 8px 15px;
}
.twt{
	padding: 11px 9px 10px 9px;
}
.lin{
	padding: 10px 11px 9px 11px;
}
.si{
	padding-top: 7px;
}
.clients{
	display: flex;
}
.client{
	background-color: #2b2e4a;
}
.client-con{
	background-color: #53354a;
	color: #ffffff;
}
.notes{
	padding: 75px 75px 47px 80px;
}
.box{
	width: 50%;
}
.client img{
	display: block;
}
.over-hidden{
	overflow: hidden;
}
.clients-box{
	width: 100%;
	overflow: hidden;
}
.client-photo{
	display: block;
}
.client-photo img{
	width: 100%;
    vertical-align: middle;
    border-style: none;
    position: relative;
	height: 395px;
}
.quote{
	width: 90%;
}
.comment{
	height: 200px;
}
.comment .quotesign{
    line-height: 48px;
    color: #ffffff;
}
.quotesign{
	font-family: 'Cardo', serif;
	font-weight: 400;
    font-size: 30px;
    display: block;
}
	.quotename{
    	font-size: 18px;
		color: #fff;
    	font-family: "Cardo", Georgia, "Times New Roman", serif;
	}
.dot-list{
	text-align: center;
	display: flex;
}
.dot{
	margin-right: 8px;
	cursor: pointer;
	content: url("images/dot-act.png");
}
.dot.active, .dot:hover{
	content: url("images/dot.png");
}
.download{
	text-align: center;
}
.dwnld-cont{
	padding: 98px 0px 100px 0px;
}
.dwnld-cont p{
	color: #2d3033;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px 0px 42px 0px;
}
.dwnld-cont h3{
	color: #2d3033;
	font-size: 28px;
	font-weight: 300;
	margin: 0px 0px 10px 0px;
}
.footer{
	background-color: #3a3e64;
}
.footer-first{
	display: flex;
	padding-top: 50px;
}
.footer-box{
	width: 33.3%;
	text-align: center;
	margin-bottom: 76px;
    padding: 0px 15px;
}
.footer-box h5{
	font-size: 14px;
    font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	margin: 9px 0px 20px 0px;
}
.footer-box p{
	color: #afb0bc;
	font-size: 14px;
    font-weight: 400;
    line-height: 1.58;
	font-family: 'Raleway', sans-serif;
	margin-top: 5px;
}
.footer-box .si{
	margin: 0;
	padding-top: 0;
	padding-left: 13px;
}
.footer-box ul{
	list-style-type: none;
	margin: 0;
	padding-left: 98px;
}
.footer-box li{
	float: left;
    border: solid 2px #e8ecee;
    margin: 2px;
}
.footer-last{
	text-align: center;
	background-color: #313454;
	padding: 17px 0px 30px 0px;
	color: #ffffff80;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	line-height: 1.58;
}
.footer-last p{
	margin: 3px 0px 0px 0px;
}
.footer .fa-heart {
    color: #e84545;
    font-size: 11px;
    margin: 0 2px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}
.pulse {
    animation-name: pulse;
}


.topnav {
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}



/*@media (max-width: 1200px){
	.wrap {
		width: 100%;
		margin: 0 auto;
	}
	.logo img{
		padding: 40px 10px 30px 30px;
		float: left;
	}
	.head ul{
		float: right;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.head li{
		float: left;
		padding: 40px 15px 40px 15px;
	}
	.head li:last-child{
		padding: 40px 30px 40px 15px;
	}
	.head li a{
		color: #ccccd3;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
	}
	.banner{
		padding: 100px 70px;
	}
	.banner .content {
	    margin: 0;
	}
	.content{
		text-align: center;
	}
	h1{
		color: #ffffff;
		font-size: 55px;
		font-weight: 600;
		margin: 32px 0px;
	}
	.content p{
		font-size: 20px;
		font-weight: 400;
		color: #ffffff;
		line-height: 1.5;
	}
	.content a:hover{
		opacity: 0.8;
	}
	.content img{
		margin-top: 50px;
	}
}
/* @media (max-width: 840px){
	.logo img{
		padding: 40px 10px 30px 30px;
		float: left;
	}
	.head ul{
		float: right;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.head li{
		float: none;
		padding: 20px 30px 10px 15px;
	}
	.head li:last-child{
		padding: 20px 30px 30px 15px;
	}
	.head li a{
		color: #ccccd3;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
	}
}*/


@media (min-width: 769px){
       .icon{
            display: none;
        }
}


@media (max-width: 768px){
	.wrap {
		width: 90%;
		margin: 0 auto;
	}
	.nav_icon {
    	width: 18px;
    	height: 3px;
    	background-color: white;
    	margin: 3px 0;
    	left: 31%;
    	position: relative;
    	top: 25%;
	}
	.nav_bar {
    	float: right;
		background-color: #e84545;
    	border-radius: 50%;
    	height: 44px;
    	overflow: hidden;
    	position: absolute;
    	right: 5%;
    	text-indent: 100%;
    	top: 32px;
    	white-space: nowrap;
    	width: 44px;
    	z-index: 99999;
    	transition: all 0.3s;
	}
	.topnav a:not(:first-child){
    	display: none;
  	}
  	.topnav a.icon {
    	float: right;
    	display: block;
  	}	
  	/*.topnav.responsive {position: relative;}*/
  	.topnav.responsive .icon {
    	position: absolute;
    	right: 0;
   		top: 0;
  	}
  	.topnav.responsive li {
  		float: left;
  		display: block;
  		text-align: left;
  	}
  	/*.topnav.responsive {float: left;}*/
  	.topnav.responsive {
    	display: block;
    	width: 89%;
    	text-align: right;
	}
	.icon{
		background-color: #E84545;
		border-radius: 50%;
		height: 42px;
	    overflow: hidden;
	    position: fixed;
	    right: 5%;
	    top: 30px;
	    white-space: nowrap;
	    width: 36px;
	    z-index: 99999;
		text-decoration: none;
	}
/*
	.nav_bar, .icon{
		font-size: 25px;
    	color: #ffffff;
    	padding-left: 12px;
   		padding-top: 5px;
	}
*/
	.logo img{
		float: left;
		padding-left: 0px;
	}
	.fixed {
	    position: fixed!important;
	    top: 0;
	    z-index: 999;
	    background: #2a2e48;
	    transition: 1s;
	    width: 100%;
	    left: 0;
	    padding: 30px 0px;
	}
	.fixed .logo {
	    padding-left: 37px;
	}
	.head{
		padding: 40px 0px;
		border-bottom: solid 1px #4d4e66;
	}
	.head ul{
		float: right;
		top: 100px;
   		left: 85px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: none;
		position: absolute;
	}
	.head li{
		float: none;
		padding: 20px 30px 10px 15px;
	}
	.head li:last-child{
		padding: 20px 30px 30px 15px;
	}
	.head li a{
		color: #ccccd3;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
		padding-left: 0px;
	}
	.banner{
		padding-top: 106px;
	}
	.banner .content {
	    margin: 0;
	}
	.content{
		text-align: center;
	}
	h1{
		color: #ffffff;
		font-size: 42px;
		font-weight: 600;
		margin: 17px 0px 11px 0px;
		line-height: 1.08;
	}
	.content p{
		font-size: 18px;
		font-weight: 300;
		color: #ffffff;
		line-height: 1.5;
	}
	.sponly{
		display: none;
	}
	.features{
		padding: 100px 0px;
		width: 93%;
	}
	.features-con{
		display: grid;
		grid-template-columns: auto auto;
	}
	.features-box{
		text-align: center;
		width: auto;
	}
	.features-box:nth-child(2n+1){
		padding: 0% 8% 13% 2%;
	}
	.features-box:nth-child(2n+0){
		padding: 0% 3% 13% 7%;
	}
	.features-box h4 {
    	margin: 27px 0px 10px 0px;
	}
	.features-box p {
		margin-top: 8px;
		font-size: 14px;
    	font-weight: 400;
		line-height: 1.6;
	}
	.work-img{
		width: 50%;
		float: left;
		background-color: #d3403f;
		position: relative;
	}
	.team{
		padding: 100px 0px;
	}
	.list-team{
		display: inline-block;
		margin: -2px -30px -2px -29px;
}
	.box-team{
		width:  50%;
		float: left;
		text-align: center;
	}
	.box-team:nth-child(3){
		width:  50%;
		float: left;
		text-align: center;
		padding: 30px 0px 0px 0px;
	}
	.box-team:last-child{
		width:  50%;
		float: left;
		text-align: center;
		padding: 30px 0px 0px 0px;
	}
	.box-team h2{
		font-weight: 500;
		text-align: center;
		padding-left: 11px;
	}
	.box-team h4{
		font-weight: 500;
		color: #e84545;
		text-align: center;
		padding-left: 11px;
	}
	.box-team p{
		text-align: center;
		padding: 0px 55px;
		font-weight: 500;
		color: #6c7279;
	}
	.box-team ul{
		list-style-type: none;
		padding-left: 125px;
	}
	.box-team li{
		float: left;
		border: solid 1px #e8ecee;
		margin: 2px;
	}
	.fb{
		padding: 9px 15px 8px 15px;
	}
	.twt{
		padding: 11px 9px 10px 9px;
	}
	.lin{
		padding: 10px 11px 9px 11px;
	}
	.si{
		padding-top: 0px;
	}
	.clients{
		display: block;
	}
	.box{
		width: 100%;
	}
	.client-photo{
		display: block;
		height: 402px;
	}
	.client-photo img{
		height: auto;
	}
	.notes{
		padding: 30px 70px 30px 50px;
	}
	.comment{
		height: 150px;
	}
	.comment .quotesign{
 	   line-height: 48px;
 	   color: #ffffff;
	}
	.quotesign{
		font-family: 'Cardo', serif;
		font-weight: 400;
	    font-size: 30px;
	    display: block;
	}
	.quotename{
    	font-size: 20px;
	}
	.footer-first{
		display: block;
		font: icon;
		font-family: "Raleway", sans-serif;
		width: 740px;
	}
	.footer-box{
		width: 100%;
	    padding: 0px;
		margin-bottom: 50px;
	}
	.footer-box h4{
		color: #ffffff;
		text-transform: uppercase;
		margin: 15px 0px;
	}
	.footer-box p{
		color: #afb0bc;
		font-size: 14px;
		font-weight: 500;
		font-family: 'Raleway', sans-serif;
		margin: 0px;
	}
	.footer-box .si{
		margin: 0;
		padding-top: 0;
		padding-left: 0px;
	}
	.footer-box ul{
		list-style-type: none;
		margin: 0;
		padding-left: 302px;
	}
	.footer-box li{
		float: left;
	    border: solid 2px #e8ecee;
	    margin: 2px;
	}
	.footer-last{
		text-align: center;
		background-color: #313454;
		padding: 25px 0px;
		color: #808080;
		font-size: 14px;
		font-weight: 500;
		font-family: 'Raleway', sans-serif;
		line-height: 1.5;
	}
}


@media (max-width: 414px){
	.nav_icon {
    	left: 29%;
	}
	.fixed {
	    transition: 0.5s;
	    padding: 0px !important;
		border-bottom: none !important;
    	width: 100% !important;
	}
	.fixed .logo {
	    padding-left: 21px;
	}
	#navbar{
		position: fixed;
		padding: 10px 0px 13px 0px;
    	border-bottom: solid 1px #4d4e66;
		width: 90%;
	}
	.topnav a:not(:first-child){
    	display: none;
  	}
  	.topnav a.icon {
    	float: right;
    	display: block;
  	}	
  	/*.topnav.responsive {position: relative;}*/
  	.topnav.responsive .icon {
    	position: absolute;
    	right: 0;
   		top: 0;
  	}
  	.topnav.responsive li {
  		float: left;
  		display: block;
  		text-align: left;
  	}
  	/*.topnav.responsive {float: left;}*/
  	.topnav.responsive {
    	display: block;
    	width: 100%;
    	text-align: right;
	}
	.nav_bar {
	    top: 30px;
		right: 0%;
	}
	.logo{
		font-size: 25px;
    	color: #ffffff;
	}
	.logo img{
		padding: 30px 10px 27px 0px;
		float: left;
	}
	/*.nav{
		background-image: url("images/masthead.jpg");
		position: fixed;
		top: 0;
    	width: 100%;
    	z-index: 1;
	}*/
	.head {
    	padding: 0px;
    	border-bottom: none;
		position: fixed;
    	width: 90%;
    	z-index: 999;
	}
	.head ul{
		float: right;
		top: 90px;
   		left: 0px;
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: none;
	}
	.head li{
		float: none;
		padding: 0px;
		margin-left: 20px;
		margin-top: 45px;
	}
	.head li:last-child{
		padding: 0px;
		margin-left: 20px;
		margin-top: 30px;
	}
	.head li a{
		color: #ccccd3;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
	}
	#line{
		border: solid 1px #4a4c63;
		margin: 0px 30px;
		width: 689px;
    	top: 94px;
    	position: absolute;
	}
	.banner{
		padding: 179px 12px 0px 12px;
	}
	.banner .content {
	    margin: 0;
	}
	.content{
		text-align: center;
	}
	h1{
		color: #ffffff;
		font-size: 32px;
		font-weight: 700;
		margin: 0px 0px 10px 0px;
		line-height: 1.1;
	}
	.content p{
		font-size: 18px;
		font-weight: 300;
		color: #ffffff;
		line-height: 1.5;
	}
	.sponly{
		display: none;
	}
	.features{
		padding: 100px 0px;
	}
	.features-con{
		display: grid;
		grid-template-columns: auto;
	}
	.features-box{
		text-align: center;
		padding: 0% 4% 5% 4% !important;
		width: auto;
	}
	.features-box p {
	    margin-top: 8px;
		margin-bottom: 31px;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 22.4px;
	}
	.work-img{
		width: 100%;
		float: left;
		background-color: #d3403f;
		position: relative;
	}
	.team{
		padding: 100px 0px;
	}
	.list-team{
		display: inline-block;
		margin: 0px;
	}
	.box-team{
		width:  100%;
		float: left;
		text-align: center;
	}
	.box-team:nth-child(3){
		width:  100%;
		float: left;
		text-align: center;
		padding: 15px 0px 0px 0px;
	}
	.box-team:last-child{
		width:  100%;
		float: left;
		text-align: center;
		padding: 15px 0px 0px 0px;
	}
	.box-team h2{
		font-weight: 400;
		text-align: center;
		padding-left: 11px;
	}
	.box-team h4{
		font-weight: 400;
		color: #e84545;
		text-align: center;
		padding-left: 11px;
	}
	.box-team p{
		text-align: center;
		padding: 0px 51px;
		font-weight: 400;
		color: #6c7279;
		margin-bottom: 28px;
	}
	.box-team ul{
		list-style-type: none;
		padding-left: 120px;
		padding-bottom: 70px;
	}
	.box-team li{
		float: left;
		border: solid 1px #e8ecee;
		margin: 2px;
	}
	.fb{
		padding: 9px 15px 8px 15px;
	}
	.twt{
		padding: 11px 9px 10px 9px;
	}
	.lin{
		padding: 10px 11px 9px 11px;
	}
	.si{
		padding-top: 0px;
	}
	.clients{
		display: block;
	}
	.box{
		width: 100%;
	}
	.client-photo{
		display: block;
		height: 218px;
	}
	.client-photo img{
		width: 100%;
	    vertical-align: middle;
	    border-style: none;
	    position: relative;
		height: auto;
	}
	.quote{
		width: 90%;
	}
	.notes{
		padding: 35px 30px 35px 40px;
	}
	.comment{
		height: 160px;
	}
	.comment .quotesign{
 	   line-height: 36px;
 	   color: #ffffff;
	}
	.quotesign{
		font-family: 'Cardo', serif;
		font-weight: 400;
	    font-size: 22px;
	    display: block;
	}
	.quotename{
    	font-size: 14px;
		color: #fff;
    	font-family: "Cardo", Georgia, "Times New Roman", serif;
	}
	.dwnld-cont h3{
		line-height: 1.1;
		margin: 2px 0px 12px 0px;
	}
	.footer-first{
		display: block;
		font: icon;
		font-family: "Raleway", sans-serif;
		margin-bottom: 50px;
		width: 90%;
	}
	.footer-box{
		width: 384px;
		text-align: center;
	    padding: 0px;
		margin-left: -7px;
	}
	.footer-box h4{
		color: #ffffff;
		text-transform: uppercase;
		margin: 15px 0px;
	}
	.footer-box p{
		color: #afb0bc;
		font-size: 14px;
		font-weight: 500;
		font-family: 'Raleway', sans-serif;
		margin: 0px;
	}
	.footer-box .si{
		margin: 0;
		padding-top: 0;
	}
	.footer-box ul{
		list-style-type: none;
		margin: 0;
		padding-left: 118px;
	}
	.footer-box li{
		float: left;
	    border: solid 2px #e8ecee;
	    margin: 2px;
	}
	.footer-last{
		text-align: center;
		background-color: #313454;
		padding: 25px 0px;
		color: #808080;
		font-size: 14px;
		font-weight: 500;
		font-family: 'Raleway', sans-serif;
		line-height: 1.5;
	}
}